* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

main {
    background-color: rgb(248, 248, 248);
    flex-direction: column;
    margin-top: 60px;
}

.bird {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px rgb(184, 184, 184);
}

.logo {
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.icon {
    border-radius: 50%;
    padding-left: 3px;
}

.user-info {
    display: flex;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

.user-id {
    padding-left: 10px;
    color: #c3ccd3;
}

.content {
    padding-left: 20px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
}

.button {
    width: 20px;
    height: auto;
}

.text span {
    color: rgb(0, 165, 165);
}